@import "tailwindcss";
@import "@nuxt/ui";

@theme {
    --font-sans: "Silka", sans-serif;

    --color-blue-50: #e5f0ff;
    --color-blue-100: #cce0ff;
    --color-blue-200: #99c2ff;
    --color-blue-300: #66a3ff;
    --color-blue-400: #3385ff;
    --color-blue-500: #0066ff;
    --color-blue-600: #0052cc;
    --color-blue-700: #003d99;
    --color-blue-800: #002966;
    --color-blue-900: #001433;
    --color-blue-950: #000a19;
}

.dark {
    --ui-primary: var(--ui-color-primary-500);
}